<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=5">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
    {% include head-custom.html %}
  </head>
  <body>
    <script>
    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
      </script>
<!-- The navigation menu -->
<div class="topnav" id="myTopnav">
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#getting_started">Getting Started</a>
    <a href="#about">About</a>
    <a href="#roles">Roles</a>
    <a href="#gdd">GDD</a>
    <a href="#production">Production Timeline</a>
    <a href="#contract">Group Contract</a>
    <a href="#drive">Google Drive</a>
    <a href="#resources">Resources</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
   </div>    
  </div>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner2">
           <h1 id="project_title2">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline2">{{ site.description | default: site.github.project_tagline }}</h2>
            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/MarkKrutik/BTGD2P45GroupWork.git">Project Files</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content2" class="inner2">
        <h2><u>Table of Contents</u></h2>
          <h3><a href="#getting_started">Getting Started</a></h3>
          <h3><a href="#about">About</a></h3>
          <h3><a href="#roles">Roles</a></h3>
          <h3><a href="#gdd">Game Design Document</a></h3>
          <h3><a href="#production">Production Timeline</a></h3>
          <h3><a href="#contract">Group Contract</a></h3>
          <h3><a href="#drive">Google Drive</a></h3>
          <h3><a href="#resources">Resources</a></h3>
          
      </section>
      <section id="getting_started" class="inner2">
        <h2><u>Getting Started</u></h2>  
      </section>
      <section id="about" class="inner2">
        <h2><u>About</u></h2> 
      </section>
      <section id="roles" class="inner2">
        <h2><u>Roles</u></h2> 
          <table>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>Name 1</td>
              <td>Role 1</td>
              <td>Description 1</td>
            </tr>
            <tr>
              <td>Name 2</td>
              <td>Role 2</td>
              <td>Description 2</td>
            </tr>
            <tr>
              <td>Name 3</td>
              <td>Role 3</td>
              <td>Description 3</td>
            </tr>
            <tr>
              <td>Name 4</td>
              <td>Role 4</td>
              <td>Description 4</td>
            </tr>
            <tr>
              <td>Name 5</td>
              <td>Role 5</td>
              <td>Description 5</td>
            </tr>
            <tr>
              <td>Name 6</td>
              <td>Role 6</td>
              <td>Description 6</td>
            </tr>
          </table>
      </section>
      <section id="gdd" class="inner2">
        <h2><u>Game Design Document</u></h2> 
        <span class="resourcespan2"><a href="" target="_blank"> Link to Game Design Document</a></span><br>
      </section>
      <section id="production" class="inner2">
        <h2><u>Production Timeline</u></h2> 
      </section>
       <section id="contract" class="inner2">
        <h2><u>Group Contract</u></h2> 
         <span class="resourcespan2"><a href="" target="_blank">Link to Group Contract</a></span><br>
      </section>
      <section id="drive" class="inner2">
        <h2><u>Google Drive</u></h2> 
        <span class="resourcespan2"><a href="https://drive.google.com/drive/folders/1meYQP4Mh97JH2_Tb13xm_ZSN6EJ9zP9h?usp=sharing" target="_blank">Google Drive Folder</a></span><br>
      </section>
      <section id="resources" class="inner2">
        <h2><u>Resources</u></h2> 
          <h3>Textures</h3>
            <span class="resourcespan"><a href="https://pixabay.com/" target="_blank">https://pixabay.com/</a></span><br>
            <span class="resourcespan"><a href="https://quixel.com/megascans/" target="_blank">https://quixel.com/megascans/</a></span><br>
            <span class="resourcespan"><a href="https://www.pexels.com/" target="_blank">https://www.pexels.com/</a></span><br>
            <span class="resourcespan"><a href="https://textures.com/" target="_blank">https://textures.com/</a></span><br>
          <h3>Github</h3>
            <span class="resourcespan"><a href="https://github.com/" target="_blank">https://github.com/</a></span><br>
            <span class="resourcespan"><a href="https://desktop.github.com/" target="_blank">https://desktop.github.com/</a></span><br>
            <span class="resourcespan"><a href="https://docs.github.com/en/get-started" target="_blank">https://docs.github.com/en/get-started</a></span><br>
            <span class="resourcespan"><a href="https://github.com/skills/introduction-to-github" target="_blank">https://github.com/skills/introduction-to-github</a></span><br>
            <span class="resourcespan"><a href="https://www.w3schools.com/git/" target="_blank">https://www.w3schools.com/git/</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9goXbgTDQ0n_4TBzOO0ocPR" target="_blank">https://www.youtube.com/playlist?list=PL4cUxeGkcC9goXbgTDQ0n_4TBzOO0ocPR</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=RGOj5yH7evk&ab_channel=freeCodeCamp.org" target="_blank">https://www.youtube.com/watch?v=RGOj5yH7evk&ab_channel=freeCodeCamp.org</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=8JJ101D3knE&ab_channel=ProgrammingwithMosh" target="_blank">https://www.youtube.com/watch?v=8JJ101D3knE&ab_channel=ProgrammingwithMosh</a></span><br>
            <span class="resourcespan"><a href="https://education.github.com/discount_requests/application" target="_blank">https://education.github.com/discount_requests/application</a></span><br>
          <h3>Programming Tutorials</h3>
            <span class="resourcespan"><a href="https://www.youtube.com/@ChrisTutorialsYT" target="_blank">https://www.youtube.com/@ChrisTutorialsYT</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/@Brackeys" target="_blank">https://www.youtube.com/@Brackeys</a></span><br>
          <h3>Game Design</h3>
            <span class="resourcespan"><a href="https://www.youtube.com/@GMTK" target="_blank">https://www.youtube.com/@GMTK</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/@DesignDoc" target="_blank">https://www.youtube.com/@DesignDoc</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=pNvUWHquSHc" target="_blank">https://www.youtube.com/watch?v=pNvUWHquSHc</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/playlist?list=PLc38fcMFcV_t66OnpNFFXKIqsQRPVHq6U" target="_blank">https://www.youtube.com/playlist?list=PLc38fcMFcV_t66OnpNFFXKIqsQRPVHq6U</a></span><br>
            <span class="resourcespan"><a href="https://kotaku.com/super-mario-maker-2-creation-tips-from-a-nintendo-icon-1836035102" target="_blank">https://kotaku.com/super-mario-maker-2-creation-tips-from-a-nintendo-icon-1836035102</a></span><br>
            <span class="resourcespan"><a href="https://thegamedesignforum.com/features/RD_SMW_1.html" target="_blank">https://thegamedesignforum.com/features/RD_SMW_1.html</a></span><br>
            <span class="resourcespan"><a href="https://www.significant-bits.com/super-mario-bros-3-level-design-lessons-part-2/" target="_blank">https://www.significant-bits.com/super-mario-bros-3-level-design-lessons-part-2/</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=hFdEEzgc7pg&list=PLLCf_9bUkrWfY3yaCAAQGXrI4zNAOPt3E&index=35" target="_blank">https://www.youtube.com/watch?v=hFdEEzgc7pg&list=PLLCf_9bUkrWfY3yaCAAQGXrI4zNAOPt3E&index=35</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=-fWX6v0NTvI&list=PLLCf_9bUkrWfY3yaCAAQGXrI4zNAOPt3E&index=36" target="_blank">https://www.youtube.com/watch?v=-fWX6v0NTvI&list=PLLCf_9bUkrWfY3yaCAAQGXrI4zNAOPt3E&index=36</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=7FxD5uLoi-g&list=PLLCf_9bUkrWeH1dc9eO8zzGW_kFyfJIUY" target="_blank">https://www.youtube.com/watch?v=7FxD5uLoi-g&list=PLLCf_9bUkrWeH1dc9eO8zzGW_kFyfJIUY</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/playlist?list=PLy445mOFNkd_zljA7uH2Fqndr4-jqE9D8" target="_blank">https://www.youtube.com/playlist?list=PLy445mOFNkd_zljA7uH2Fqndr4-jqE9D8</a></span><br>
            <span class="resourcespan"><a href="https://www.pexels.com/" target="_blank">https://www.pexels.com/</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=To6DO-Rj5vE&list=PLCtIF_dMT_PNnG4IHXJR5Qm6xGqEj0Mok&index=5" target="_blank">https://www.youtube.com/watch?v=To6DO-Rj5vE&list=PLCtIF_dMT_PNnG4IHXJR5Qm6xGqEj0Mok&index=5</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=6o1BP3jghrU&list=PLCtIF_dMT_PNnG4IHXJR5Qm6xGqEj0Mok&index=7" target="_blank">https://pixabay.com/</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/playlist?list=PLugegG07di3886WYN6u7v9BeBd0VFG3_J" target="_blank">https://www.youtube.com/playlist?list=PLugegG07di3886WYN6u7v9BeBd0VFG3_J</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/playlist?list=PL42m9XiTqPHJdJuVXO6Vf5ta5D07peiVx" target="_blank">https://www.youtube.com/playlist?list=PL42m9XiTqPHJdJuVXO6Vf5ta5D07peiVx</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=XkndjIA-WVY&list=PLLCf_9bUkrWd8PiPf96d7IxSGE9E1Yymw&index=5" target="_blank">https://www.youtube.com/watch?v=XkndjIA-WVY&list=PLLCf_9bUkrWd8PiPf96d7IxSGE9E1Yymw&index=5</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/watch?v=ep_9RtAbwog&list=PLLCf_9bUkrWfY3yaCAAQGXrI4zNAOPt3E&index=31" target="_blank">https://www.youtube.com/watch?v=ep_9RtAbwog&list=PLLCf_9bUkrWfY3yaCAAQGXrI4zNAOPt3E&index=31</a></span><br>
          <h3>Art</h3>
            <span class="resourcespan"><a href="https://www.youtube.com/@Autodesk3dsMax" target="_blank">https://www.youtube.com/@Autodesk3dsMax</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/@Substance3D" target="_blank">https://www.youtube.com/@Substance3D</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/@blenderguru" target="_blank">https://www.youtube.com/@blenderguru</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/@VideoGameAnimationStudy" target="_blank">https://www.youtube.com/@VideoGameAnimationStudy</a></span><br>
            <span class="resourcespan"><a href="https://www.gimp.org/" target="_blank">https://www.gimp.org/</a></span><br>
            <span class="resourcespan"><a href="https://inkscape.org/" target="_blank">https://inkscape.org/</a></span><br>
            <span class="resourcespan"><a href="https://krita.org/en/" target="_blank">https://krita.org/en/</a></span><br>
            <span class="resourcespan"><a href="https://www.piskelapp.com/" target="_blank">https://www.piskelapp.com/</a></span><br>
            <span class="resourcespan"><a href="https://dafluffypotato.itch.io/px-editor" target="_blank">https://dafluffypotato.itch.io/px-editor</a></span><br>
            <span class="resourcespan"><a href="https://www.mapeditor.org/" target="_blank">https://www.mapeditor.org/</a></span><br>
            <span class="resourcespan"><a href="https://www.tracktion.com/products/waveform-free" target="_blank">https://www.tracktion.com/products/waveform-free</a></span><br>
            <span class="resourcespan"><a href="https://ezgif.com/" target="_blank">https://ezgif.com/</a></span><br>
            <span class="resourcespan"><a href="https://aran.ink/posts/celeste-tilesets" target="_blank">https://aran.ink/posts/celeste-tilesets</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/playlist?list=PLLCf_9bUkrWd8PiPf96d7IxSGE9E1Yymw" target="_blank">https://www.youtube.com/playlist?list=PLLCf_9bUkrWd8PiPf96d7IxSGE9E1Yymw</a></span><br>
            <span class="resourcespan"><a href="https://www.youtube.com/playlist?list=PLyH-qXFkNSxlmHJGPhER1ociIdGr5KDoB" target="_blank">https://www.youtube.com/playlist?list=PLyH-qXFkNSxlmHJGPhER1ociIdGr5KDoB</a></span><br>
          <h3>Sound Production</h3>
            <span class="resourcespan"><a href="https://ardour.org/" target="_blank">https://ardour.org/</a></span><br>
            <span class="resourcespan"><a href="https://www.audacityteam.org/" target="_blank">https://www.audacityteam.org/</a></span><br>
            <span class="resourcespan"><a href="https://terrycavanagh.itch.io/bosca-ceoil" target="_blank">https://terrycavanagh.itch.io/bosca-ceoil</a></span><br>
            <span class="resourcespan"><a href="https://www.experimentalscene.com/software/darkwave-studio/" target="_blank">https://www.experimentalscene.com/software/darkwave-studio/</a></span><br>
            <span class="resourcespan"><a href="https://famistudio.org/" target="_blank">https://famistudio.org/</a></span><br>
            <span class="resourcespan"><a href="https://lmms.io/" target="_blank">https://lmms.io/</a></span><br>
            <span class="resourcespan"><a href="https://musescore.org/en" target="_blank">https://musescore.org/en</a></span><br>
            <span class="resourcespan"><a href="https://www.bfxr.net/" target="_blank">https://www.bfxr.net/</a></span><br>
            <span class="resourcespan"><a href="https://jfxr.frozenfractal.com/" target="_blank">https://jfxr.frozenfractal.com/</a></span><br>
            <span class="resourcespan"><a href="https://raylibtech.itch.io/rfxgen" target="_blank">https://raylibtech.itch.io/rfxgen</a></span><br>
            <span class="resourcespan"><a href="https://sfbgames.itch.io/chiptone" target="_blank">https://sfbgames.itch.io/chiptone</a></span><br>
            <span class="resourcespan"><a href="https://labbed.itch.io/labchirp" target="_blank">https://labbed.itch.io/labchirp</a></span><br>
            <h4>These sources must be cited: </h4>
            <span class="resourcespan"><a href="https://sound-effects.bbcrewind.co.uk/" target="_blank">https://sound-effects.bbcrewind.co.uk/</a></span><br>
            <span class="resourcespan"><a href="https://opengameart.org/art-search-advanced?keys=&field_art_type_tid%5B%5D=12&sort_by=count&sort_order=DESC" target="_blank">https://opengameart.org/art-search-advanced?keys=&field_art_type_tid%5B%5D=12&sort_by=count&sort_order=DESC</a></span><br>
            <span class="resourcespan"><a href="https://soundbible.com/royalty-free-sounds-1.html" target="_blank">https://soundbible.com/royalty-free-sounds-1.html</a></span><br>
            <span class="resourcespan"><a href="https://www.pexels.com/" target="_blank">https://www.pexels.com/</a></span><br>
            <span class="resourcespan"><a href="https://www.soundsnap.com/" target="_blank">https://www.soundsnap.com/</a></span><br>
          <h3>GDD</h3>
             <span class="resourcespan"><a href="https://www.youtube.com/watch?v=a7vZFiFLw-w&list=PLLCf_9bUkrWfY3yaCAAQGXrI4zNAOPt3E&index=7 " target="_blank">https://www.youtube.com/watch?v=a7vZFiFLw-w&list=PLLCf_9bUkrWfY3yaCAAQGXrI4zNAOPt3E&index=7 </a></span><br>
      </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner3">
        <p>Copyright GroupName 2024. All Rights Reserved. Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
