<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=5">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
    {% include head-custom.html %}
  </head>
  <body>
    <script>
    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
      </script>
<!-- The navigation menu -->
<div class="topnav" id="myTopnav">
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#getting_started">Getting Started</a>
    <a href="#about">About</a>
    <a href="#roles">Roles</a>
    <a href="#gdd">GDD</a>
    <a href="#drive">Google Drive</a>
    <a href="#contract">Group Contract</a>
    <a href="#production">Production Timeline</a>
    <a href="#resources">Resources</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
   </div>    
  </div>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner2">
           <h1 id="project_title2">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline2">{{ site.description | default: site.github.project_tagline }}</h2>
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content2" class="inner2">
        {{ content }}
      </section>
      <section id="getting_started" class="inner2">
        <h3 id="project_title2">Getting Started</h3>  
      </section>
      <section id="about" class="inner2">
        <h3 id="project_title2">About</h3> 
      </section>
      <section id="roles" class="inner2">
        <h3 id="project_title2">Roles</h3> 
      </section>
      <section id="gdd" class="inner2">
        <h3 id="project_title2">Game Design Document</h3> 
      </section>
      <section id="google_drive" class="inner2">
        <h3 id="project_title2">Google Drive</h3> 
      </section>
      <section id="group_contract" class="inner2">
        <h3 id="project_title2">Group Contract</h3> 
      </section>
      <section id="production_timeline" class="inner2">
        <h3 id="project_title2">Production Timeline</h3> 
      </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner3">
        <p>Copyright GroupName 2024. All Rights Reserved. Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
